.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh; // Centrer verticalement
  text-align: center;

  .logo {
    width: 400px; // Taille du logo
    margin-bottom: 20px; // Espacement entre le logo et les boutons
  }

  .button-container {
    display: flex;
    justify-content: center;
    gap: 80px; // Espacement horizontal entre les boutons

    @media (max-width: 768px) {
      // Version mobile
      flex-direction: column; // Aligner les boutons verticalement sur mobile
      gap: 10px; // Espacement vertical réduit entre les boutons
    }
  }

  .btn {
    width: 200px;
    padding: 10px;
    margin: 10px 0; // Espacement vertical entre les boutons
    font-size: 16px;
    background-color: #f4f4f4;
    color: rgb(0, 0, 0);
    border: black solid 1px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0056b3;
    }
  }
}
