.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh; // Centrer verticalement sur toute la hauteur de l'écran
}

.login-form {
  width: 100%;
  max-width: 400px; // Taille maximale du formulaire
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  h2 {
    font-size: 24px;
    text-align: center; // Centre le texte "Se Connecter"
  }

  .input-size {
    width: 100%; // Assure que les champs de saisie ont la même taille
    height: 40px; // Hauteur des inputs
  }

  .btn-small {
    width: 60%; // Réduction de la largeur du bouton
    height: 35px; // Hauteur du bouton réduite
    display: block;
    margin-top: 10px;
    margin-left: 20%;
  }
}
