.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh; // Centrer verticalement sur toute la hauteur de l'écran
}

.input-container {
  margin: 50px;
}

.login-form {
  h2 {
    font-size: 24px;
    text-align: center; // Centre le texte "Se Connecter"
  }

  .input-size {
    width: 100%; // Assure que les champs de saisie ont la même taille
    height: 40px; // Hauteur des inputs
    border-radius: 15px;
  }
  .text-danger {
    color: red;
    font-size: 0.8rem;
    font-style: italic;
  }

  .btn {
    width: 60%;
    margin-top: 10px;
    margin-left: 20%;
    padding: 10px;
    font-size: 16px;
    background-color: #7e00df;
    color: rgb(253, 253, 253);
    border: black solid 1px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #8b41d5;
    }
  }
}
