.error-banner {
  margin: 1%;
  display: flex;
  justify-content: center;
  color: whitesmoke;
  background-color: #b52b2b;
  border-radius: 5px;
}

.error-banner .error-message {
  padding: 1%;
  margin: 0;
}
